# root
.idea
.iml
log/
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
# https://github.com/takari/maven-wrapper#usage-without-binary-jar
.mvn/wrapper/maven-wrapper.jar

# components
**/.idea
**/mvnw
**/.mvn
**/mvnw.cmd
**/target/
**/.gitignore

# Windows:
Thumbs.db
ehthumbs.db
Desktop.ini
.git.bfg-report

### IntelliJ IDEA ###
*.iws
*.iml
*.ipr

# Python:
*.py[cod]
*.so
*.egg
*.egg-info
dist
build

# VSCode
__pycache__
.vscode
# Python: